.logo-img{
    height: 4vw;
    margin-top: 36%;
}
.logo-tittle{
    font-size: 3.2vw;
}

.left_panel{
  border-radius: 14px;
    background: #3b5999;
    width: 500px;
    height: 400px;
}
.submit_button{
    background-color: #3b5999;
}


#mySidenav a {
    margin-top: 100px;
    position: fixed;
    right: -65px;
    transition: 0.7s;
    padding: 9px;
    width: 96px;
    text-decoration: none;
    font-size: 9px;
    color: white;
    border-radius: 7px 0px 0px 7px;
  }
  
  
#mySidenav a:hover {
    right: 0;
  }
  
#contact-us {
    top: 16px;
    background-color: #4CAF50;
  }
  
#career {
    top: 52px;
    background-color: #2196F3;
  }
  
#blog {
    top: 88px;
    background-color: #2f2626;
  }
  #quote {
    top: 126px;
    background-color:#800000;
  }


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .form-fix {
        width: 50%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
    .form-fix {
        width: 30%;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    .form-fix {
        width: 20%;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}