/* Later add css */
.form-fix {
    padding: 0 10%;
}

#preview-div {
    background-color: rgb(216, 216, 216);
}
.logo-img{
    height: 4vw;
    margin-top: 36%;
}
.logo-tittle{
    font-size: 4vw;
}