/* Later add css */
.logo-img{
    height: 4vw;
    margin-top: 22%;
}
.logo-tittle{
    font-size: 4vw;
}





.form-fix {
    padding: 0 10%;
}

#preview-div {
    background-color: rgb(216, 216, 216);
}
.logo-img{
    height: 4vw;
    margin-top: 22%;
}
.logo-tittle{
    font-size: 3.2vw;
}
#mySidenav a {
    margin-top: 100px;
    position: fixed;
    right: -65px;
    transition: 0.7s;
    padding: 10px;
    width: 96px;
    text-decoration: none;
    font-size: 9px;
    color: white;
    border-radius: 7px 0px 0px 7px;
  }
  
  
  #mySidenav a:hover {
    right: 0;
  }
  
  #contact-us {
    top: 16px;
    background-color: #4CAF50;
  }
  
  #career {
    top: 52px;
    background-color: #2196F3;
  }
  
  #blog {
    top: 88px;
    background-color: #2f2626;
  }
  #quote {
    top: 126px;
    background-color:#800000;
  }